html {
    height: 100%
}
body {
    background: #00a99d;
}
* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
.invisible {
    display: none;
}
.menu-list {
    display: block;
    margin: 10px 5px 5px 5px;
    max-width: 35px;
}
.menu-list button {
    width: 40px;
    height: 40px;
    border-radius: 40%;
}
.menu-list .wide-today-btn {
    width: 120px;
    height: 40px;
    border-radius: 10%;
}
.menu-list .wide-tomorrow-btn {
    width: 120px;
    height: 40px;
    border-radius: 10%;
}
.menu-list .wide-week-btn {
    width: 120px;
    height: 40px;
    border-radius: 10%;
}
.menu-list .wide-all-btn {
    width: 120px;
    height: 40px;
    border-radius: 10%;
}
.main-col-1 {
    background: #3D8EB9;
    border: 2px solid black;
}
.main-col-2 {
    background: #3D8EB9;
    border: 2px solid black;
}
/*.main-col-1 > div {*/
    /*border: 2px solid green;*/
    /*height: 100%;*/
/*}*/
.main-container {
    background: sandybrown;
    width: 100%;
    height: 100%;
    border: pink 2px solid;
    margin: 0 auto;
    display: flex;
    position: relative;
}
/* ------------- menu-left --------------*/

.wide-menu{
    border: dotted;
    width:300px;
    background: lightskyblue;
}

/* ------------- header -----------------*/
.header {
    border: 1px red solid;
    background: #00bb33;
    width: 100%;
    height: 50px;
    display: inline-block;
}

.header-logo {
    width: 60%;
    height: 100%;
    border: 1px black dashed;
    display: inline-block;
    margin: 0;
    padding: 0;

}
.header-logo input{
width:95px;
    height: 90%;
}
.header-logo button{
    width: 30px;
    height: 90%;
}

.header-add-category {
    width: 15%;
    height: 100%;
    border: 1px black dashed;
    display: inline-block;
    margin: 0;
    padding: 0;


}

.add-category{
    width:30px;
}

.header-progress-tracker {
    width: 15%;
    height: 100%;
    border: 1px black dashed;
    display: inline-block;
    margin: 0;
    padding: 0;
}   



/* ----------- body app ------------------*/
.main-body {
    border: 1px red solid;
    width: 100%;
    height: auto;
    position: relative;
}

/* --------------tasks to do -------------*/

.main-body .tasks-to-do {
    border: 1px red solid;
    height: auto;
    width: auto;
}

.tasks-to-do li {
    border: 1px black solid;
    list-style-type: none;
    width: 100%;
    word-wrap:break-word;

}

/* ------ button tasks finished ---------*/
.btn-tasks-finished {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    float: left;
    margin-left: 35%;
}

.btn-tasks-finished:hover {
    background-color: mediumturquoise;
    color: white;
}


/* ---------tasks finished ---------------*/

.tasks-finished li {
    border: 1px black solid;
    list-style-type: none;
    width: 100%;
    word-wrap:break-word;
    display: inline-block;
}

.hidden {
    display: none;
}

/*----------- adding category-------------*/
.window {
    position: absolute;
    left:120px;
    margin: auto;
    width: 175px;
    height: 100px;
    background: yellow;
    display:block;
    z-index: 100;
}

#input-category{
    height: 30px;
    width: 150px;
    border: 1px solid fuchsia;
    font-size: 20px;
    font-weight: 300;
    margin:10px;

}

#btn-category{

    height: 22px;
    width: 100px;
    background: red;
}
#cancel{
    background:orange;
}
/*-------------- section to add task -------------------*/
.sectionAddTask {
    background: #00FF00;
    position: absolute;
    top: 0%;
    left: 0%;
}

/* Style the list items */
#myUL ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    display: inline-block;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
/*ul li:nth-child(odd) {*/
    /*background: #f9f9f9;*/
/*}*/

/*!* Darker background-color on hover *!*/
/*ul li:hover {*/
    /*background: #ddd;*/
/*}*/

/*!* When clicked on, add a background color and strike out text *!*/
/*ul li.checked {*/
    /*background: #888;*/
    /*color: #fff;*/
    /*text-decoration: line-through;*/
/*}*/

/*!* Add a "checked" mark when clicked on *!*/
ul li.checked::before {
    content: '';
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

#myUL li {
    display: table;
    width: 100%;
}

/* Style the input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
}

.addBtn:hover {
    background-color: #bbb;
}

/* ----------- calendar ---------------*/

.input{
    padding-left: 30px;
    display: block;

}

#date{
    width: 40%;
    border: 1px black solid;

}

.listActive {
    display: block;
}

input[type=checkbox] {

}


.priority {
    display: inline-block;
    color: deeppink;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.priority-section {
    display: inline;
}

.priorityHeader {
    padding: 0;
    margin: 0;
    font-size: 14px;

}

