html {
    height: 100%
}

body {
    background: #f79774;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.invisible {
    visibility: hidden;
}

.menu-list {
    display: block;
    margin: 10px 10px 5px 5px;
    max-width: 35px;
}

.menu-list button {
    width: 40px;
    height: 40px;
    border-radius: 40%;
}
.menu-list .wide-addCat-btn {
    width: 120px;
    height: 40px;
    border-radius: 10%;
}

.menu-list .wide-today-btn {
    width: 120px;
    height: 40px;
    border-radius: 10%;
}

.menu-list .wide-tomorrow-btn {
    width: 120px;
    height: 40px;
    border-radius: 10%;
}

.menu-list .wide-week-btn {
    width: 120px;
    height: 40px;
    border-radius: 10%;
}

.menu-list .wide-all-btn {
    width: 120px;
    height: 40px;
    border-radius: 10%;
}
.hide-right-col {
    height: 100vh;
}

/*----------- adding category-------------*/

.add-category{
    width:30px;
}

.category-window {
    position: absolute;
    left: 50px;
    top:50px;
    border: 2px solid black;
    border-radius:  5%;
    margin: auto;
    width: 175px;
    height: 100px;
    background: lightgoldenrodyellow;
    display: block;
    z-index: 100;

}

#input-category {
    height: 30px;
    width: 150px;
    border: 1px solid deepskyblue;
    font-size: 20px;
    font-weight: 300;
    margin: 10px;
    border-radius:5px;

}

#btn-category, #cancel {

    height: 40px;
    width: 80px;
    background: deepskyblue;
    display: block;
    float:left;
    border-radius: 40%;
    margin-left:3px;
}



.main-col-1 {
    background: #f79774;
    min-height: 100vh;
}
.main-col-1 > div> ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-col-2 {
    background: #82a6e0;
    width: 100%;
    min-height: 80vh;
}

/*.main-col-1 > div {*/
/*border: 2px solid green;*/
/*height: 100%;*/
/*}*/
.main-container {
    background: #3D8EB9;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

/* ------------- menu-left --------------*/

.wide-menu {
    position: absolute;
    z-index: 100;
    min-height: 100vh;
    width: 50%;
    background: #f79774;
}

/* ------------- header -----------------*/
.header {
    background: #82a6e0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 60%;
    height: 100%;
    border: 1px black dashed;
    display: inline-block;
    margin: 0;
    padding: 0;

}
.header-logo button{
    width: 30px;
    height: 90%;
    border-radius: 5px;
}
.header-logo input{
    width:95px;
    height: 90%;
    border-radius: 5px;
}



.header-progress-tracker {
    width: 15%;
    height: 100%;
    border: 1px black dashed;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

/* ----------- body app ------------------*/
.main-body {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* --------------tasks to do -------------*/

.completeCheckbox {
    max-width: 10px;
    max-height: 10px;
}

.taskLis {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.taskDivs {
    padding: 5px;
}

.taskDivs:nth-child(1) {
    width: 30%;
}

.taskDivs:nth-child(2) {
    width: 70%;
}

.taskDivs:nth-child(3) {
    width: 70%;
}

.taskDivs:nth-child(4) {
    background: darkslateblue;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    font-weight: 900;
}

.main-body .tasks-to-do {
    height: auto;
    width: auto;
}

.tasks-to-do li {
    border: 1px black solid;
    list-style-type: none;
    width: 100%;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;

}
.tasks-to-do li:nth-child(2) {
    border: 1px black solid;
    list-style-type: none;
    width: 100%;
    word-wrap: break-word;
    flex-grow: 5;

}

/* ------ button tasks finished ---------*/
.btn-tasks-finished {
    background-color: #f79774;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    width: 150px;
    left: 5%;
    margin: 10px;
}

.btn-tasks-finished:hover {
    background-color: mediumturquoise;
    color: white;
}

/* ---------tasks finished ---------------*/

.tasks-finished li {
    border: 1px black solid;
    list-style-type: none;
    width: 100%;
    word-wrap: break-word;
    display: inline-block;
}

.hidden {
    display: none;
}


/*-------------- section to add task -------------------*/
.addTaskButton {
    background-color: #f79774;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    width: 150px;
    left: 5%;
    margin: 10px;
}
.sectionAddTask {
    background: deepskyblue;
    position: absolute;
    z-index: 50;
    top: 0%;
    left: 0%;
}

/* Style the list items */
#myUL ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    display: inline-block;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
/*ul li:nth-child(odd) {*/
/*background: #f9f9f9;*/
/*}*/

/*!* Darker background-color on hover *!*/
/*ul li:hover {*/
/*background: #ddd;*/
/*}*/

/*!* When clicked on, add a background color and strike out text *!*/
/*ul li.checked {*/
/*background: #888;*/
/*color: #fff;*/
/*text-decoration: line-through;*/
/*}*/

/*!* Add a "checked" mark when clicked on *!*/
/*ul li.checked::before {*/
    /*content: '';*/
    /*border-color: #fff;*/
    /*border-style: solid;*/
    /*border-width: 0 2px 2px 0;*/
    /*top: 10px;*/
    /*left: 16px;*/
    /*transform: rotate(45deg);*/
    /*height: 15px;*/
    /*width: 7px;*/
/*}*/

#myUL li {
    display: table;
    width: 100%;
}

/* Style the input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
}

.addBtn:hover {
    background-color: #bbb;
}

/* ----------- calendar ---------------*/

.input {
    padding-left: 30px;
    display: block;

}

#date {
    width: 40%;
    border: 1px black solid;

}

.listActive {
    display: block;
}


.priority {
    display: inline-block;
    color: deeppink;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.priority-section {
    display: inline;
}

.priorityHeader {
    padding: 0;
    margin: 0;
    font-size: 14px;

}

/* PROGRESS*/
.show-progress {
    border-radius: 7%;
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    color: white;
    z-index: 200;
}
.close-progress {
    align-self: right;
    font-size: 70%;
}

